<div class="container-fluid d-flex flex-column justify-content-center align-items-center vh-100">
  <h1 class="title_home">Sneaker World</h1>
  <h2 class="subtitle_home mb-3">Home</h2>
  <div class="d-flex flex-column mb-3">
    <a class="btn btn-primary mb-3" role="button" href="/products">Ir a los productos</a>
    <a class="btn btn-primary" role="button" href="/cart">Ir a los carritos</a>
  </div>
</div>