<div
  class="container-fluid d-flex flex-column justify-content-center align-items-center vh-100"
>
  <h1 class="title_home mb-4" style="font-size: 5em;">Sneaker <br />World</h1>
  {{!-- <h2 class="subtitle_home mb-5">Home</h2> --}}
  <div class="d-flex flex-column mb-5">
    <a class="btn btn-primary mb-4" role="button" href="/login">Iniciar sesión</a>
    <a
      class="btn btn-primary mb-3"
      role="button"
      href="/register"
    >Registrarse</a>
  </div>
</div>