<div
  class="d-flex justify-content-center align-items-center"
  style="height: 90vh;"
>
  <div class="col-md-6">
    <h2 class="text-center mb-4">Login</h2>
    <form action="/api/sessions/login" method="POST">
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          required
        />
      </div>
      <div class="form-group text-center mt-3">
        <button type="submit" class="btn btn-primary me-5">Iniciar sesion</button>
        <a class="btn btn-secondary" href="/" role="button">Volver al Home</a>
      </div>
    </form>
  </div>
</div>