<h1>Real Time Products</h1>

<div id="container"></div>

<h2>Formulario para agregar un nuevo producto</h2>

<div class="containerForm">
  <form>
    <input type="text" id="title" placeholder="Title" />
    <input type="text" id="thumbnail" value="No image" />
    <input type="text" id="description" placeholder="Descripcion" />
    <input type="text" id="category" placeholder="Category" />
    <input type="number" id="price" placeholder="Price" />
    <input type="text" id="code" placeholder="Code" />
    <input type="number" id="stock" placeholder="Stock" />
    <select id="status">
      <option value="true">True</option>
      <option value="false">Falsete😔</option>
    </select>
  </form>
  <button type="button" id="btnSend">Enviar</button>
</div>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"
></script>
<script src="js/index.js"></script>