<div
  class="d-flex justify-content-center align-items-center"
  style="height: 90vh;"
>
  <div class="col-md-6">
    <h2 class="text-center mb-4">Register</h2>
    <form action="/api/users" method="post">
      <div class="form-group">
        <label for="first_name">First Name:</label>
        <input
          type="text"
          class="form-control"
          id="first_name"
          name="first_name"
          required
        />
      </div>
      <div class="form-group">
        <label for="last_name">Last Name:</label>
        <input
          type="text"
          class="form-control"
          id="last_name"
          name="last_name"
          required
        />
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          required
        />
      </div>
      <div class="form-group">
        <label for="age">Age:</label>
        <input
          type="number"
          class="form-control"
          id="age"
          name="age"
          required
        />
      </div>
      <div class="form-group ">
        <label for="rol">Rol:</label>
        <select class="form-control" id="rol" name="rol">
          <option value="user">User</option>
          <option value="admin">Admin</option>
        </select>
      </div>
      <div class="form-group text-center mt-3">
        <button type="submit" class="btn btn-primary me-5">Registrarse</button>
                <a class="btn btn-secondary" href="/" role="button">Volver al Home</a>
      </div>
    </form>
  </div>
</div>